html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
        background-image: url("https://images.unsplash.com/photo-1519255122284-c3acd66be602?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1590&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #b3e0ff;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.container {
  flex: 1; /* This allows the main content to expand and push the footer down */
}
